<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Socio Gerente Exit Tour</h1> - <h3>2020-Actualidad</h3>
            </li>
            <p>
                Socio Gerente de Exit Tour, empresa del rubro turistico especializada en grupales internacionales. Armado de grupos, armado de paquetes y venta, gestion de bloqueos grupales aereos, comercio exterior, etc.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Administracion y Finanzas, Exit Tour</h1> - <h3>2016-2020</h3>
            </li>
            <p>
                Administrativo y encargado de finanzas en Exit tour. Carga de documentacion, facturacion, pago a proveedores, comercio exterior y generacion de expedientes.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Telenik SRL</h1> - <h3>2014</h3>
            </li>
            <p>
                Administrativo junior en Telenik srl, carga de documentacion y cupones de tarjeta. 
            </p>
        </ul>
    </div>
</div>