 <div class="row">
    <div class="col-xs-12 col-sm-2 col-m-2 col-lg-2">
        <img src="../../../assets/fotoperfil.jpg" class="img-fluid" img="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Luti Guerrero Juan Ignacio</p>
        <p>Full Stack Developer Jr</p>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Contador Publico de 30 años de Edad, con capacidades de resolucion de problemas y habilidades interpersonales.</p>
        </span>
    </div>
 </div>