<div class="row">
    <h1>Exducación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Master proyect Management</h1> - <h3>En curso</h3>
            </li>
            <p>
                Estudios en curso, Master en proyecto management en Centro Europeo de Postgrado, Madrid, España.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Contador Publico</h1> - <h3>Finalizado. 2020</h3>
            </li>
            <p>
                Contador Publico en Universidad Siglo XXI, Cordoba, Argentina
            </p>
        </ul>
        <ul>
            <li>
                <h1>Colegio Santo Tomas</h1> - <h3>Finalizado, 2010</h3>
            </li>
            <p>
                Bachiller en gestion administrativa, Colegio Santo Tomas, Cordoba, Argentina
            </p>
        </ul>
    </div>
</div>
